/* ======== GOOGLE FONTS ======== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ======== BASE ======== */
:root {
  --white-background-primary: rgb(255, 255, 255);
  --black-text-primary: rgb(0, 0, 0);
  --dark-grey-primary: rgba(29, 29, 29, 0.54);
  --light-grey-primary: rgb(232, 232, 233);
  
}

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--white-background-primary);
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--white-background-primary);
} */

.view {
  position: absolute;
  left: 210px;
}